#login {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: 'Amiri', serif;
  font-size: 45px;
  color: #FFF9C4 ;
}

header h1 {
  font-family: 'Amiri', serif;
  padding-top: 25px;
  font-size: 55px;
}

div {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.btn-hapus {
  background-color: #e74c3c;
}

.btn-hapus:hover {
  background-color: #c0392b;;
}

.btn-group {
  display: flex;
  gap: 8px;        
  margin: 6px 0;     
  background: none;  
  padding: 0;
}

.btn-group button {
  flex: 1;
}

button {
  background: green;
  color: white;
  border: none;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px 12px;
  margin-top: 10px;
  box-sizing: border-box;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  background-color: white;
}

td, th {
  border: 2px solid #ccc;
  padding: 5px;
  text-align: center;
}

.io th {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
button.active {
  background-color: #3a8765

 ;
}
.btn-simpan {
  background-color: #6FAF8E;
  border-radius: 100px;
  margin-top:17px;
}

.btn-simpan:hover {
  background-color: #3F8F6B;
  transition: 0.2s;
}



#user {
  max-width: 900px;
  margin: auto;
  background: #2D6A4F;
  padding: 20px;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: white;
}

#admin {
  max-width: 900px;     
  margin: auto;
  padding: 20px;     
  border-radius: 10px;
  margin-top: 53px;
  background: #2F9B6A;
}

#admin h2 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 45px;
  color: white;
}

.yo {
  background-color:#6FAF8E;
}

.yo:hover {
  background-color:#5E9C7A;
}

.bg{
  background: linear-gradient(
    to left,
    #9CF57A 0%,
    #6EE27E 40%,
    #3BC46B 70%,
    #2FBF71 100%
  );
  border-radius: 100px;
}

.bg:hover{
   background: linear-gradient(
    to left,
    rgb(146, 223, 186),
    rgb(82, 184, 133)
  );
}

.cuy {
  position: relative;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 2px;
}

.cuy::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  width: 74px;
  height: 2px;
  background-color: rgb(150, 221, 179);
  border-radius: 2px;
}

.w {
  background: linear-gradient(to top,#3A6B4E,#8FBAA3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 29px;
  justify-items: center;
}